.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.pagination {
  justify-content: center;
}

@media (min-width: 768px) {
  .card-text {
    min-height: 150px;
  }

  .categories {
    min-height: 50px;
  }
}
