<footer class="text-muted py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 offset-md-8">
        <ul class="list-unstyled">
          <li>
            <%= link_to "Follow on Twitter", "https://twitter.com/fakenine_", target: '_blank', rel: 'noopener' %>
          </li>
          <li>
            <%= link_to "Contribute", "https://github.com/fakenine/y00ts_network", target: '_blank', rel: 'noopener' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
